
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f172a;
  color: white;
  font-family: "Segoe UI", sans-serif;
  overflow-x: hidden;
}

.hero {
  max-width: 1200px;
  width: 95%;
  margin: auto;
  padding: 60px 20px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.profile-img {
  width: 280px;
  height: 280px;
  object-fit: cover;
  border-radius: 20px;
  border: 4px solid #38bdf8;
  box-shadow: 0 0 25px rgba(56, 189, 248, 0.5);
}

.hero-content {
  flex: 1;
}

.hero-content h1 {
  font-size: 58px;
  margin-bottom: 15px;
  line-height: 1.1;
}

.hero-content h2 {
  color: #38bdf8;
  margin-bottom: 20px;
}

.hero-content p {
  line-height: 1.8;
  font-size: 18px;
}

.location {
  color: #94a3b8;
  margin-top: 15px;
  margin-bottom: 20px;
}

.hero-buttons {
  margin-top: 20px;
}

.hero-buttons a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  margin-right: 10px;
  margin-top: 10px;
}

.section {
  max-width: 1200px;
  width: 95%;
  margin: auto;
  padding: 30px 20px;
}

.project-card {
  background: #1e293b;
  padding: 25px;
  border-radius: 18px;
  border: 1px solid #334155;
  margin-bottom: 25px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 15px;
}

.skill-card {
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

footer {
  text-align: center;
  padding: 30px;
  margin-top: 50px;
  color: #94a3b8;
}

/* MOBILE */

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 40px 20px;
  }

  .profile-img {
    width: 200px;
    height: 200px;
  }

  .hero-content h1 {
    font-size: 36px;
  }

  .hero-content h2 {
    font-size: 18px;
  }

  .hero-content p {
    font-size: 15px;
  }

  .hero-buttons a {
    display: block;
    width: 220px;
    margin: 10px auto;
  }

  .section {
    padding: 20px 15px;
  }

  .project-card {
    padding: 20px;
  }
}

